.full {
	width: 40%;
}

.medicalStaff-profile {
	padding: 10px;
	background: white;
	margin-top: 70px;
	margin-left: 15%;
	min-width: 900px;
	min-height: 560px;
}  
.medicalStaff-profile	.avatar {
		width: 110px;
		height: 110px;
		margin-left: 40px;
		border-radius: 50%;
	}
	.medicalStaff-profile	h3 {
		margin: auto;
	}
	.medicalStaff-profile	.center-data {
		margin-left: 200px;
	}
	.medicalStaff-profile .center-address {
		margin-left: 70px;
	}

.example-form-field {
	margin-right: 1rem;
}