<h1 mat-dialog-title>Password change</h1>
<div mat-dialog-content>
<div class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Current password</mat-label>
        <input formControlName="oldPassConfirm" matInput type="password">
    </mat-form-field>
    <div *ngIf="form.get('oldPassConfirm').errors?.['oldPassValidator']">
        Old passwords did not match
    </div>
    <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input formControlName="newPass" matInput type="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>New password repeat</mat-label>
        <input formControlName="newPassConfirm" matInput type="password">
    </mat-form-field>
    <div *ngIf="form.get('newPassConfirm').errors?.['newPassValidator']">
        New passwords did not match
    </div>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="this.form.value" cdkFocusInitial>Update</button>
</div>
