<div class="centered-content">
    <form class="form-wrapper" [formGroup]="profileForm" *ngIf="editEnabled">
        <div class="form-header-wrapper">
          <h2><b>Personal</b></h2>
          <button (click)="editClicked()" class="login-button"> Edit Profile </button>
        </div>
        <mat-form-field required appearance="outline">
            <mat-label>First name</mat-label>
            <input formControlName="firstName" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline">
            <mat-label>Last name</mat-label>
            <input formControlName="lastName" matInput type="text">
          </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>Personal ID</mat-label>
          <input formControlName="personalId" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline" *ngIf="editEnabled">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender"  name="gender">
            <mat-option value="female">
              Female
            </mat-option>
            <mat-option value="male">
              Male
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>Occupation</mat-label>
          <input formControlName="occupation" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>Your school or organization</mat-label>
          <input formControlName="institution"  matInput type="text">
          <mat-hint>The name of your <b>school/university</b> if you're a student, or <b>organization</b> you're employed at.</mat-hint>
        </mat-form-field>
        <h2 class="needs-space"><b>Contact</b></h2>
        <mat-form-field required appearance="outline">
          <mat-label>Phone number</mat-label>
          <input formControlName="phoneNumber" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>Home address (street, number)</mat-label>
          <input formControlName="homeAddress" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>Country</mat-label>
          <input formControlName="country" matInput type="text">
        </mat-form-field>
        <h2><b>Account</b></h2>
        <mat-form-field required appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="email">
        </mat-form-field>
        <div class="password-field-wrapper">
          <button class="password-field-button" (click)="openPasswordDialog()" [disabled]="!editEnabled">Change password </button>
        </div>
        <input type="submit" value="Save changes" class="submit-button" (click)="saveEditChanges()" *ngIf="editEnabled">

    </form>
  <div class="cards" *ngIf="!editEnabled">
    <mat-card class="profile-card">
      <img mat-card-image src="https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-roseanna.png" alt="Photo of a Shiba Inu">
      <mat-card-title class="profile-title">{{bloodDonor.firstName}} {{bloodDonor.lastName}}
      </mat-card-title>
      <mat-card-subtitle>{{bloodDonor.homeAddress}}, {{bloodDonor.city}}, {{bloodDonor.country}}</mat-card-subtitle>
      <mat-card-content>
        <p>Contact: {{bloodDonor.phoneNumber}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
