.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.submit-button {
  margin-top: 2rem;
  box-shadow: none !important;
}
.password-field-wrapper{
    display: flex;
    flex-direction: row;
}
.password-field-input{
    flex-grow: 4
}

.mat-icon {
  font-size: 18px;
  color: #813E3E;
  margin-left: -10px;
}

.mat-card-title {
  display: flex;
}

.password-field-button {
  margin-top: 1rem;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  color: #ff5e75;
  transition: 0.5s;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

h2, h1 {
    font-family: "Poppins SemiBold", sans-serif;
    color: #ee435d;
}
h1 {
    font-size: 29px;
}
.centered-content {
margin-top: 2rem;
margin-bottom: 2rem;
}

.profile-card {
  width: 30vw !important;
  border: 1px solid white;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(217, 79, 111, 0.2);
  background-color: rgba(255, 255, 255, 0.5) !important;
  transition: 0.5s;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.profile-title {
  font-weight: bold;
}
.mat-card-image {
  max-height: 20vh;
}

mat-card-title, mat-card-subtitle, mat-card-content, mat-card-footer {
  padding: 0.5rem;
}

.bank-title {
  display: flex;
  align-items: center;

}

.bank-card:hover {
  background-color: white !important;
}
