<div class="centered-content">
    <h1><b>Profile</b></h1>
    <form class="form-wrapper" [formGroup]="profileForm">
        <div class="form-header-wrapper">
          <h2><b>Personal</b></h2>
          <button (click)="editClicked()"> Edit Profile </button>
        </div>
        <mat-form-field required appearance="outline">
            <mat-label>First name</mat-label>
            <input formControlName="firstName" matInput type="text">
        </mat-form-field>
        <mat-form-field required appearance="outline">
            <mat-label>Last name</mat-label>
            <input formControlName="lastName" matInput type="text">
          </mat-form-field>
        <mat-form-field required appearance="outline">
          <mat-label>Personal ID</mat-label>
          <input formControlName="personalId" matInput type="text">
        </mat-form-field>
        <input type="submit" value="Save changes" (click)="saveEditChanges()">

    </form>
</div>
