<div class="centered-content">
  <div class="cards" *ngIf="editEnabled">
    <mat-card class="profile-card">
      <mat-card-title class="profile-title"><button class="icon-button material-icons.md-18" (click)="goBack()"><mat-icon fontIcon="arrow_back_ios"></mat-icon></button>Profile</mat-card-title>
      <mat-card-content>
        <form class="form-wrapper" [formGroup]="profileForm">
          <h2>Personal information</h2>
          <mat-form-field required appearance="outline">
            <mat-label>First name</mat-label>
            <input formControlName="firstName" matInput type="text" />
          </mat-form-field>
          <mat-form-field required appearance="outline">
            <mat-label>Last name</mat-label>
            <input formControlName="lastName" matInput type="text" />
          </mat-form-field>
          <mat-form-field required appearance="outline">
            <mat-label>Occupation</mat-label>
            <input formControlName="occupation" matInput type="text">
          </mat-form-field>
          <mat-form-field required appearance="outline">
            <mat-label>Your school or organization</mat-label>
            <input formControlName="institution"  matInput type="text">
            <mat-hint>The name of your <b>school/university</b> if you're a student, or <b>organization</b> you're employed at.</mat-hint>
          </mat-form-field>
          <h2 style="margin-top: 1rem">Contact</h2>
          <mat-form-field required appearance="outline">
            <mat-label>Phone number</mat-label>
            <input formControlName="phoneNumber" matInput type="text">
          </mat-form-field>
          <mat-form-field required appearance="outline">
            <mat-label>Home address (street, number)</mat-label>
            <input formControlName="homeAddress" matInput type="text">
          </mat-form-field>
          <mat-form-field required appearance="outline">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput type="text">
          </mat-form-field>
          <mat-form-field required appearance="outline">
            <mat-label>Country</mat-label>
            <input formControlName="country" matInput type="text">
          </mat-form-field>
          <input type="submit" class="submit-button" (click)="saveEditChanges()"/>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cards" *ngIf="!editEnabled">
    <mat-card class="profile-card">
      <mat-card-title class="profile-title"
        >{{ bloodDonor.firstName }} {{ bloodDonor.lastName }}
      </mat-card-title>
      <mat-card-content>
        <h2>Personal information</h2>
        <p>
          > ID: <b>{{ bloodDonor.personalId }}</b>
        </p>
        <p>
          > Gender:
          <b>{{ bloodDonor.gender == "FEMALE" ? "Female" : "Male" }}</b>
        </p>
        <p>
          > Occupation: <b>{{ bloodDonor.occupation }}</b>
        </p>
        <p>
          > Associated institution: <b>{{ bloodDonor.institution }}</b>
        </p>
        <h2>Contact</h2>
        <p>
          > Home address:
          <b
            >{{ bloodDonor.homeAddress }}, {{ bloodDonor.city }},
            {{ bloodDonor.country }}</b
          >
        </p>
        <p>
          > Email: <b>{{ bloodDonor.email }}</b>
        </p>
        <p>
          > Phone number: <b>{{ bloodDonor.phoneNumber }}</b>
        </p>
        <p>
          <button class="password-field-button" (click)="editClicked()">
            Edit profile
          </button>
            <button class="password-field-button" (click)="openPasswordDialog()">Change password</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
