.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2vw;
}
.form-header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
h2, h1 {
    font-family: "Poppins SemiBold", sans-serif;
    color: #ee435d;
}
h1 {
    font-size: 29px;
}
.centered-content {
margin-top: 2rem;
margin-bottom: 2rem;
}