.nav-bar {
  background: linear-gradient(rgba(255,187,198,1) 0%, rgb(255, 233, 233) 100%);
  display: flex;
  align-items: center;
  padding: 0.5rem 1.2rem;
  color: rgb(225, 59, 85);
  font-size: 18px;
}
h1 {
  margin-top: 2vh;
  font-family: "SF UI Text", sans-serif;
  color: #ee435d;
  font-size: 29px;
}

.register-button {
  width: 6rem;
  border: 1px solid transparent;
  background-image: linear-gradient(to right, #ea283f 0%, #ff5e70 51%, #ea283f 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  height: 100%;
  box-shadow: 0 0 20px rgba(255, 100, 125, 0.3);
  border-radius: 1rem;
  cursor: pointer;
}
.register-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.buttons > a {
  margin-left: 0.5rem;
}

.login-button {
  height: 100%;
  background-color: white;
  text-align: center;
  border: 1px solid transparent;
  color: #ff5e75;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
  width: 6rem;
  box-shadow: 0 0 20px rgba(255, 100, 125, 0.2);
  border-radius: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  flex: 1;
  justify-content: flex-start;
  font-style: italic;
  font-family: "SF UI Text Bold", sans-serif;
  background: #e82d4a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.links {
  display: flex;
  flex: 1;
  justify-content: center;

}

.links > a {
  margin-right: 1rem;
  color: rgb(225, 59, 85);
}

.chip {
  background: rgba(248, 100, 122, 1);
  box-shadow: 0 5px 20px rgba(217, 79, 111, 0.38);
  color: white;
  padding: 0.3rem 1.3rem;
  transition: 0.5s;
}
a {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end !important;
  margin-right: 5px;
}

.submit-button {
  padding: 0.7rem;
  border: 1px solid transparent;
  background-image: linear-gradient(to right, #ea283f 0%, #ff5e70 51%, #ea283f 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #e13b55;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.icon-button {
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid transparent;
  cursor: pointer;
}

.submit-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.submit-button:disabled {
  opacity: 50%;
}
