

.bank-card {
  width: 400px !important;
  border: 1px solid white;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(217, 79, 111, 0.2);
  background-color: rgba(255, 255, 255, 0.5) !important;
  transition: 0.5s;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.bank-title {
  display: flex;
  align-items: center;

}

.bank-card:hover {
  background-color: white !important;
}

.icons {
  display: flex;
}

.icons > div {
  display: flex;
  margin: 0 0.5rem;
  padding-right: 0.5rem;
  background: #ffcbd2;
  border: 1px solid transparent;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}

.icon {
  color: #e82d4a;
  transform: scale(0.7);
  font-weight: bold;
}

.tag > span {
  color: #e82d4a;
  font-weight: bold;
  font-size: 14px;
}

.tag {
  background-color: rgba(255, 161, 178, 0.58);
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 16px;
  padding-right: 1rem;
  padding-left: 0.3rem;
  margin-left: 0.6rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  flex-wrap: wrap;
}

.sort-div {
}
.search-wrapper{
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: baseline;
  margin-right: 2rem;
}
.search-div{
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.search-wrapper :nth-child(1){
  padding-right:0.5rem;
  padding-left:0.3rem;
}


.search-button {
  padding: 0.3rem 1.5rem;
  border: 1px solid transparent;
  background-image: linear-gradient(to right, #ea283f 0%, #ff5e70 51%, #ea283f 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgba(225, 59, 85, 0.4);
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
}


.search-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
