<div class="centered-content">
  <h1>Blood banks</h1>
  <div class="cards">
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
          <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bank-card">
      <mat-card-title class="bank-title">Blood bank
        <div class="tag"><mat-icon fontIcon="star" class="icon"></mat-icon><span> 9.5</span></div>
      </mat-card-title>
      <mat-card-subtitle>Danila Kisa 12, Novi Sad, Serbia<br>07:00-19:00</mat-card-subtitle>
      <mat-card-content>
        <p>Description Description Description Description Description Description</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
