.centered-content {
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
}

.schedule-button {
  width: auto !important;
}

.bank-card {
  margin-top: 2rem;
  width: 400px !important;
}
.mat-column-cancel {
  width: 5px;
}
.mat-tab-body-wrapper {
  display: flex;
  justify-content: center;
}

.mat-tab-group {
  width: 70vw;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelled-text {
  text-align: center;
  padding: 2rem;
}
