<div class="centered-content">
  <p-toast position="top-right"></p-toast>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
    [style]="{ width: '30vw', fontSize: '16px' }"
  ></p-confirmDialog>
  <div class="cards">
    <mat-tab-group
      dynamicHeight
      mat-stretch-tabs="true"
      mat-align-tabs="center"
    >
      <mat-tab label="Upcoming">
        <div class="tab">
          <table
            mat-table
            [dataSource]="dataSourceUpcoming"
            matSort
            (matSortChange)="handleSortChange($event, 'upcoming')"
          >
            <ng-container matColumnDef="dateTime">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by date and time"
              >
                Date and time
              </th>
              <td mat-cell *matCellDef="let appointment">
                {{ formatDate(appointment) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="bloodBank">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by blood bank"
              >
                Blood bank
              </th>
              <td mat-cell *matCellDef="let appointment">
                <b>{{ appointment.bloodBankTitle }}</b>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by status"
              >
                Status
              </th>
              <td mat-cell *matCellDef="let appointment">
                {{ formatStatus(appointment) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cancel">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let appointment">
                <button *ngIf="appointment.status === 'SCHEDULED'"
                  class="schedule-button"
                  (click)="this.confirmCancel(appointment)"
                >
                  Cancel
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="duration">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by duration"
              >
                Duration
              </th>
              <td mat-cell *matCellDef="let appointment">
                {{ appointment.duration }} minutes
              </td>
            </ng-container>

            <ng-container matColumnDef="qrCode">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let appointment">
                <img
                  class="qr-code"
                  width="100px"
                  src="{{ 'data:image/jpg;base64,' + appointment.qrCode }}"
                />
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsUpcoming"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsUpcoming"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell cancelled-text"
                [attr.colspan]="displayedColumnsUpcoming.length"
              >
                You have no upcoming appointments.<br />
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="Past">
        <table
          mat-table
          [dataSource]="past"
          matSort
          (matSortChange)="handleSortChange($event, 'past')"
        >
          <ng-container matColumnDef="dateTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by date and time"
            >
              Date and time
            </th>
            <td mat-cell *matCellDef="let appointment">
              {{ formatDate(appointment) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="bloodBank">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by blood bank"
            >
              Blood bank
            </th>
            <td mat-cell *matCellDef="let appointment">
              <b>{{ appointment.bloodBankTitle }}</b>
            </td>
          </ng-container>

          <ng-container matColumnDef="qrCode">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let appointment">
              <img
                class="qr-code"
                width="100px"
                src="{{ 'data:image/jpg;base64,' + appointment.qrCode }}"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by status"
            >
              Status
            </th>
            <td mat-cell *matCellDef="let appointment">
              {{ formatStatus(appointment) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by duration"
            >
              Duration
            </th>
            <td mat-cell *matCellDef="let appointment">
              {{ appointment.duration }} minutes
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell cancelled-text"
              [attr.colspan]="displayedColumns.length"
            >
              You haven't had an appointment yet.<br />
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
