<div class="centered-content">
  <h1>Welcome back to <b>howtosavealife</b>!</h1>
  <form class="form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>
    <input type="submit" value="Log in" class="submit-button">
  </form>
</div>
