.question {
  font-size: 18px;
  font-weight: bold;
}

.questionnaire {
  margin: 2rem 5rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid white;
  box-shadow: 0 0 20px rgba(255, 94, 117, 0.11);
}

.answer {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.submit-button {

}
