<mat-toolbar class="nav-bar">
  <div class="title">{{title}}</div>
  <div class="links">
    <a routerLink="/">Blood banks</a>
    <a routerLink="/questionnaire" *ngIf="user != undefined && user.role.name=='ROLE_DONOR'">Questionnaire</a>
    <a routerLink="/appointments" *ngIf="user != undefined && user.role.name=='ROLE_DONOR'">My appointments</a>
    <a routerLink="/medical-staff/schedule" *ngIf="user != undefined && user.role.name=='ROLE_STAFF'">Appointments</a>
    <a routerLink="/medical-staff" *ngIf="user != undefined && user.role.name=='ROLE_STAFF'">Profile</a>
    <a routerLink="medical-staff/bank-donors" *ngIf="user != undefined && user.role.name=='ROLE_STAFF'">Donors</a>
    <a routerLink="/admin/scheduling" *ngIf="user != undefined && user.role.name=='ROLE_STAFF'">Create appointment</a>
  </div>
  <div class="buttons" *ngIf="!isLoggedIn; else loggedIn">
    <a routerLink="/register"><button class="register-button">Register</button></a>
    <a routerLink="/login"><button class="login-button">Login</button></a>
  </div>
  <ng-template #loggedIn>
    <div class="buttons">
      <mat-chip-list class="buttons">
        <mat-chip routerLink="/profile" class="chip">
          <img matChipAvatar src="https://media.istockphoto.com/vectors/cute-cartoon-cat-icon-vector-illustration-vector-id1171786505?k=20&m=1171786505&s=170667a&w=0&h=vozvrIObc_LErhOGtThRnuMa2lQjhfmVh2XO4Q2z5hM="/>
          Welcome!
        </mat-chip>
      </mat-chip-list>
      <button class="login-button" (click)="logOut()">Log out</button>
    </div>
  </ng-template>
</mat-toolbar>
