<div class="container">
    <div>
        <h2>Blood Bank Registration</h2>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="bloodBank.title">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="bloodBank.description">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Working hours start</mat-label>
            <input matInput [(ngModel)]="bloodBank.workingHoursStart">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>working Hours End</mat-label>
            <input matInput [(ngModel)]="bloodBank.workingHoursEnd">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="bloodBank.street">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="bloodBank.city">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="bloodBank.country">
        </mat-form-field><br>
        <button mat-stroked-button (click)="createBloodBank()" [disabled]="!bloodBank.title.length || !bloodBank.description.length || !bloodBank.street || !bloodBank.city || !bloodBank.country">
            Submit
        </button>
    </div>
</div>