

.bank-card {
  width: 15vw !important;
}

.mat-card-subtitle {
  margin-top: 1rem;
}

.cards {
  margin-top: 1.5rem;
}
.title {
  color: rgb(255, 59, 81);
  font-weight: bold;
  margin-top: 2rem;
  font-size: 30px;
}
